 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
  /* -------Common Style-------- */
  .padd{
    padding: 40px 20px;
  }
  .sec-link {
    font-size: 1.4rem;
    padding: 1rem 2rem;
}
  .service__content--pack{
    display: none;
  }
  .sec-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .sec-head-title {
    font-size: 2.2rem;
    line-height: 3.6rem;
    font-weight: 700;
  }
  /* -------Common Style-------- */
/* ---------Navbar  */
.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem !important;
  padding: 1rem 0;
}

 .dropdown .dropdown-menu {
  transform: scale(1, 0);
  display: none;
  margin-top: 10px;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
  display: block;
}

.navbar-toggler {
  border: none;
  font-size: 1.6rem;
  color: var(--color-white) !important;
  background-color: var(--color-cyan);
  padding: .5rem;
  border-radius: .5rem !important;
}
.navbar-toggler:focus{
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  box-shadow: none;
  border-radius: .5rem !important;
} 
.navbar-toggler-icon {
  background-image: url("../assets/icons8-hamburger.svg");
}

 /* Hero Section */
 .hero__content {
  gap: 1rem;
}
.hero__content--title {
  font-size: 2.4rem;
}
.hero__content--para {
font-size: 1.6rem;
margin-bottom: 2rem;
}
.hero__video__in span {
font-size: 1rem;
}
.hero__video__in--btn {
font-size: 1rem;
line-height: 48px;
height: 4rem;
width: 4rem;
}
/* Hero Section */

/* -----Package Style */
.package__content {
  margin-bottom: 2rem;
}
/* -----Package Style */
   
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   /* -------Common Style-------- */
   .padd{
    padding: 40px 20px;
  }
  .service__content--pack{
    display: none;
  }
  .sec-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.sec-head-title {
  font-size: 2.4rem;
  font-weight: 700;
}
  /* -------Common Style-------- */
 
   /* ---------Navbar  */
   .navbar-nav .nav-item .nav-link {
    font-size: 1.6rem !important;
    padding: 1rem 0;
  }

   .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }

  .navbar-toggler {
    border: none;
    font-size: 1.6rem;
    color: var(--color-white) !important;
    background-color: var(--color-cyan);
    padding: .5rem;
    border-radius: .5rem !important;
  }
  .navbar-toggler:focus{
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    border-radius: .5rem !important;
  } 
.navbar-toggler-icon {
    background-image: url("../assets/icons8-hamburger.svg");
  }

   /* Hero Section */
 .hero__content {
  gap: 1rem;
}
.hero__content--title {
  font-size: 2.5rem;
}
.hero__content--para {
font-size: 1.6rem;
margin-bottom: 3rem;
}
.hero__video__in span {
font-size: 1rem;
}
.hero__video__in--btn {
font-size: 1rem;
line-height: 48px;
height: 4rem;
width: 4rem;
}
/* Hero Section */

/* -----Package Style */
.package__content {
  margin-bottom: 3rem;
}
/* -----Package Style */


  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* ----common Style */
  .padd{
    padding: 60px 0;
  }
  .service__content--pack{
    display: none;
  }
  .sec-title {
    font-size: 2.2rem;
  }
  .sec-head-title {
    font-size: 2.4rem;
    font-weight: 700;
}
  /* ----common Style */
  
   /* ---------Navbar  */
   .navbar-nav .nav-item .nav-link {
    font-size: 1.6rem !important;
    padding: 1.4rem 0px;
  }

   .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }

  .navbar-toggler {
    border: none;
    font-size: 1.6rem;
    color: var(--color-white) !important;
    background-color: var(--color-cyan);
    padding: .5rem;
    border-radius: .5rem !important;
  }
  .navbar-toggler:focus{
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    border-radius: .5rem !important;
  } 
.navbar-toggler-icon {
    background-image: url("../assets/icons8-hamburger.svg");
  }

  /* Hero Section */
  .hero__content {
    gap: 1rem;
}
  .hero__content--title {
    font-size: 2.5rem;
}
.hero__content--para {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.hero__video__in span {
  font-size: 1rem;
}
.hero__video__in--btn {
  font-size: 1rem;
  line-height: 48px;
  height: 4rem;
  width: 4rem;
}
  /* Hero Section */

  /* -----Service Style */
 
  /* -----Service Style */
  /* -----Package Style */
  .package__content {
    margin-bottom: 3rem;
}
  /* -----Package Style */

  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Hero Section */
  .hero__content {
    gap: 1rem;
}
  .hero__content--title {
    font-size: 3.5rem;
}
  /* Hero Section */
 
}
/*Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  
  
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  
  
}