/* ---------------------Reset --------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;
  /*----------*----------*----------* Website Theme */
  --color-cyan: #17a2b8;
  --color-green: #28a745;
  --color-blue: #007bff;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #e83e8c;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-teal: #20c997;
  --color-dark: #343a40;
  --color-black: #161616;
  --color-light: #f8f9fa;
  --color-white: #ffffff;
  --color-text: #7f7f7f;
  --color-border: #eaecee;
  --color-box-shadow: 0px 20px 30px 0px rgba(24, 32, 40, 0.05);

}

.section__padding {
  padding: 6rem 10rem;
}

.section__margin {
  margin: 4rem 6rem;
}

body {
  background-color: var(--color-white);
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.padd{
  padding: 90px 0;
}
.sec-link {
  display: inline;
  background-color: var(--color-green);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: rgb(255, 255, 255);
}
.sec-sub-title{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-black);
}
.sec-para{
  font-size: 1.6rem;
  color: var(--color-text);
}


/* navbar start */
.top-nav {
  background-color: var(--color-cyan);
  padding: 5px 0 5px 0;
}

.top-nav p {
  font-size: 1.5rem;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: white;
}

.top-nav i,
.top-nav span {
  vertical-align: middle;
}
select{
  border: none;
  border-radius: 10px;
  padding: 1px 1px;
  outline: none;
}
option{
  background-color: var(--color-cyan);
  color: white;
  outline: none;
}
option:hover{
  background-color: var(--color-cyan) !important;
  color: white;
}

.navbar {
  padding: 2rem 0 2rem 0;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar-brand img{
  width: 190px;
  object-fit: cover;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem !important;
  padding: 20px 16px;
  color: #232323;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--color-cyan) !important;
}

/* btn */
.btn {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn-primary, .hero__content--link__demo {
  background-color: var(--color-cyan);
  color: white !important;
  border: none;

}

.btn-primary:hover,.hero__content--link__demo:hover {
  color: white;
  background-color: rgba(17, 133, 151, 0.932) !important;
}
.btn-primary-free{
  background-color: var(--color-green);
  color: white !important;
  border: none;
}
.btn-primary-free:hover, .hero__content--link__free:hover{
  background-color: green !important;
  color: white !important;
  border: none;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: var(--color-cyan);
  z-index: 100;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
  padding: 1rem 2rem !important;
  color: var(--color-white) !important;
  background-color: var(--color-cyan);
  text-transform: capitalize;
}
.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: rgba(17, 133, 151, 0.932) !important;
}  


.dropdown:hover .dropdown-menu {
  transform: scale(1);
}


/* ----------Nav End*/
/* -----------Hero Start */
.hero{
  background-image: linear-gradient(360deg, rgba(23, 163, 184, 0.2) , #fff);
}
.hero__content{
  max-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__content--title{

  font-size: 4rem;
  font-weight: 900;
  color: var(--color-black);
  line-height: 1.7;
}
.hero__content--para{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.hero__content--link {
  display: flex !important;
  flex-direction: row !important;
  gap: 2rem;
}

.hero__video {
  position: relative;
}
.hero__video img {
  display: block;
  width: 100%;
  height: auto;
}
.hero__video__in {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.hero__video__in a {
  display: block;
}
.hero__video__in span {
  color: rgb(23, 162, 184);
  font-size: 2rem;
  font-weight: 700;
}
.hero__video__in--btn {
  background-color: rgb(23, 162, 184) !important;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 1.5rem;
  position: relative;
  line-height: 65px;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.hero__video__in--btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: beat infinite 1.2s;
  animation: beat infinite 1.2s;
  height: 100%;
  width: 100%;
  background-color: rgb(23, 162, 184);
  border-radius: 50%;
  z-index: -1;
}
.hero__video__in--btn i {
  font-size: 2rem;
}

@-webkit-keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* -----------Hero End */

/* ------------------------Milestone Start */
.milestone{

}
.single__milestone{
  /* border: 1px solid var(--color-border); */
  padding: 2rem 1rem;
  transition: all .5s ease-in-out;
}
.single__milestone:hover{
  /* border: 1px solid transparent; */
  box-shadow: var(--color-box-shadow);
}
.single__milestone h5{
  margin: 2rem 0 1.2rem 0;
}
.single__milestone p{

}
.single__milestone img{
  width: unset;
}
/* ------------------------Milestone End */