/* ---------------------Reset --------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;
  /*----------*----------*----------* Website Theme */
  --color-cyan: #17a2b8;
  --color-green: #28a745;
  --color-blue: #007bff;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #e83e8c;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-teal: #20c997;
  --color-dark: #343a40;
  --color-black: #161616;
  --color-light: #f8f9fa;
  --color-white: #ffffff;
  --color-text: #888888;
  --color-border: #eaecee;
  --color-box-shadow: 0px 20px 30px 0px rgba(24, 32, 40, 0.05);

}

.section__padding {
  padding: 6rem 10rem;
}

.section__margin {
  margin: 4rem 6rem;
}

body {
  background-color: var(--color-white);
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.padd{
  padding: 90px 0;
}
.sec-link {
  display: inline;
  background-color: var(--color-green);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: rgb(255, 255, 255);
}
.sec-head-title{
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-black);
  line-height: 1.7;
}
.sec-title{
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 3.6rem;
}
.sec-sub-title{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-black);
}
.sec-para{
  font-size: 1.6rem;
  color: var(--color-text);
  line-height: 3.4rem;
}


/* navbar start */
.top-nav {
  background-color: var(--color-cyan);
  padding: 5px 0 5px 0;
}

.top-nav p {
  font-size: 1.4rem;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: var(--color-white);
}
.top-nav p a{
  color: var(--color-white);
}

.top-nav i,
.top-nav span {
  vertical-align: middle;
}
select{
  border: none;
  border-radius: 10px;
  padding: 1px 1px;
  outline: none;
}
option{
  background-color: var(--color-cyan);
  color: white;
  outline: none;
}
option:hover{
  background-color: var(--color-cyan) !important;
  color: white;
}

.navbar {
  padding: 2rem 0 2rem 0;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar-brand img{
  width: 190px;
  object-fit: cover;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem !important;
  padding: 20px 16px;
  color: #232323;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--color-cyan) !important;
}

/* btn */
.btn {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn-primary, .hero__content--link__demo {
  background-color: var(--color-cyan);
  color: white !important;
  border: none;

}

.btn-primary:hover,.hero__content--link__demo:hover {
  color: white;
  background-color: rgba(17, 133, 151, 0.932) !important;
}
.btn-primary-free{
  background-color: var(--color-green);
  color: white !important;
  border: none;
}
.btn-primary-free:hover, .hero__content--link__free:hover{
  background-color: green !important;
  color: white !important;
  border: none;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: var(--color-cyan);
  z-index: 100;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
  padding: 1rem 2rem !important;
  color: var(--color-white) !important;
  background-color: var(--color-cyan);
  text-transform: capitalize;
}
.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: rgba(17, 133, 151, 0.932) !important;
}  


.dropdown:hover .dropdown-menu {
  transform: scale(1);
}


/* ----------Nav End*/
/* -----------Hero Start */
.hero{
  background-image: linear-gradient(360deg, rgba(23, 163, 184, 0.2) , #fff);
}
.hero__content{
  max-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__content--title{

  font-size: 4rem;
  font-weight: 900;
  color: var(--color-black);
  line-height: 1.7;
}
.hero__content--para{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.hero__content--link {
  display: flex !important;
  flex-direction: row !important;
  gap: 2rem;
}

.hero__video {
  position: relative;
}
.hero__video img {
  display: block;
  width: 100%;
  height: auto;
}
.hero__video__in {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.hero__video__in a {
  display: block;
}
.hero__video__in span {
  color: rgb(23, 162, 184);
  font-size: 2rem;
  font-weight: 700;
}
.hero__video__in--btn {
  background-color: rgb(23, 162, 184) !important;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 1.5rem;
  position: relative;
  line-height: 65px;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  cursor: pointer;
}
.hero__video__in--btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: beat infinite 1.2s;
  animation: beat infinite 1.2s;
  height: 100%;
  width: 100%;
  background-color: rgb(23, 162, 184);
  border-radius: 50%;
  z-index: -1;
}
.hero__video__in--btn i {
  font-size: 2rem;
}

@-webkit-keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* -----------Hero End */

/* ------------------------Milestone Start */
.milestone{

}
.single__milestone{
  /* border: 1px solid var(--color-border); */
  padding: 2rem 1rem;
  transition: all .5s ease-in-out;
}
.single__milestone:hover{
  /* border: 1px solid transparent; */
  box-shadow: var(--color-box-shadow);
}
.single__milestone h5{
  margin: 2rem 0 1.2rem 0;
}
.single__milestone p{

}
.single__milestone img{
  width: unset;
}
/* ------------------------Milestone End */

/* ------------------------Client Start */
.client{
  padding: 40px 0;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-200px * 7));
  }
}
.client__logo{
  animation: scroll 40s linear infinite;
  width: calc(250px * 14);
  padding: 20px 0;
}
.client__logo--slide{
  width: 200px;
  height: 100px;
  perspective: 100px;
}
.client__logo--slide img{
  width: 100px;
  height: 100px;
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 50%;
  transition: all .3s ease;
}
.client__logo--slide:hover img{
transform: translateZ(10px);
}
/* ------------------------Client End */

/* ------------------------Services Start */
.services{
  /* background-color: var(--color-light); */

}
.service__content{
}
.service__content--pack{
  z-index: -99;
  font-size: 8rem;
  font-weight: bold;
  color: rgba(17, 18, 50, 0.05);
}
/* ------------------------Services End */

/* -------------------------Package Start */
.package{

}
.package__content{
  margin-bottom: 6rem;
}
.package__content--title{
  margin-bottom: 2rem;
}
.package__content--para{
  
}
.package .single__package{
  text-align: center;
    padding: 4rem 4rem 3rem;
    border: 1px solid var(--color-border);
    border-image: initial;
    transition: all 0.6s ease 0s;
    box-sizing: border-box;
}
.single__package img{
  margin-bottom: 1.8rem;
  width: 7rem;
  height: 6.5rem;
}
.single__package p{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 2.5rem;
}
.single__package h3{
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 5px;
  padding-top: 24px;
  border-top: 1px solid var(--color-border);
}

.single__package h3 span{
    font-size: 16px;
    color: var(--color-text);
    font-weight: 500;
}
.package__list{
  text-align: left;
  padding: 1.2rem 0rem 2rem;
  border-bottom: 1px solid var(--color-border);
}

 .package__list li{
  font-size: 1.4rem;
  color: var(--color-text);
  text-transform: capitalize;
  margin: 1rem 0;
}
.package__list li .fa-circle-check{
  color: var(--color-cyan);
  margin-right: 3px;
}
.package__list li .fa-circle-xmark{
  color: var(--color-red);
  margin-right: 3px;
}
.package__list  a{
  color: var(--color-cyan);
  border-bottom: 1px solid var(--color-cyan);
  border-radius: 0 !important;
  margin: 0px !important;
}
.single__package .sub-btn{
  padding-top: 1rem !important;
}
.single__package .package__btn{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 2.5rem;
  display: inline-block;
  color: rgb(24, 32, 40);
  transition: all 0.5s ease 0s;
}

.package .single__package:hover{
  box-shadow: var(--color-box-shadow);
  border: 1px solid transparent;
  border-image: initial;
}
.package .single__package:hover .package__btn{
  color: var(--color-green);
}
/* -------------------------Package End */

/* -------------------------Testimonial Start */
.testimonials{
 
}
.shadow-effect {
  background: #fff;
  padding: 20px 20px;
  border-radius: 4px;
  text-align: center;
  border:1px solid var(--color-light);
  box-shadow: var(--color-box-shadow);
}
#customers-testimonials .shadow-effect p {
  font-size: 15px;
  line-height: 1.8;
  margin: 30px 0 40px 0;
  font-weight: 500;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: var(--color-cyan);
  padding: 9px 35px;
  border-radius: .5rem;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  box-shadow: var(--color-box-shadow)
}
#customers-testimonials .item {
  text-align: center;
  padding: 10px 50px;
   margin-bottom:40px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--color-cyan);
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: var(--color-cyan);
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}
/* -------------------------Testimonial End */

/* -------------------------Industry Blog Start */
.single__industry{
  box-shadow: var(--color-box-shadow);
}
.single__industry img{
  margin-bottom: 2.4rem;
}
.industry__content{
  padding: 0 2rem 1rem 2rem;
}
.industry__content--title{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-black);
  margin: 1.2rem 0 1.2rem 0;
}
.industry__content--para{
margin: 0;
}
.single__industry .package__list{
  /* border-bottom: none; */
}
.industry__content--btn{
  padding: 20px 0;
}
/* -------------------------Industry Blog End */

/* ---------------------------Review Start */
.single__video{
  position: relative;
}
.play-btn{
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.modal-content{
  background: transparent !important;
  border: none !important;
}

/* ---------------------------Review End */

/* ---------------------------Login Start */
.login{

}
.form-control {
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}
.form-select .form-control:focus{
  border: 1px solid var(--color-cyan);
}
.form-select:focus{
  border: 1px solid var(--color-cyan);
}
.form-select {
  padding: 1.2rem 2.25rem 1.2rem .75rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}
/* ---------------------------Login End */
/* ---------------------------Footer Start */
.footer_part {
  background-image: url(../assets/footer_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0px 25px;
}

.footer_logo_iner img{
  width: 175px;
  height: 35px;
  margin-bottom: 3.5rem;
}
.single_footer_part p{
  line-height: 2.8rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer_part .single_footer_part h4 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-unstyled li i{
  color: var(--color-cyan);
  margin-right: 4px;
  font-size: 1.4rem;
}
.footer_part .single_footer_part .list-unstyled li a {
  color: var(--color-text);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: var(--color-text);
  transition: all .3s ease;
}
.footer_part .single_footer_part .list-unstyled li a:hover {
  color: var(--color-cyan);
}
.footer_part hr {
  background-color: var(--color-text);
  margin-top: 50px;
  margin-bottom: 25px;
}
.footer_part .copyright_text p {
  font-size: 1.4rem;
  color: var(--color-text);
}
.footer_part .footer_icon {
  text-align: right;
}
.footer_part .footer_icon li {
  display: inline-block;
}
.footer_part .footer_icon li a {
  font-size: 14px;
  color: var(--color-text) !important;
  margin-left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.list-unstyled li .single_social_icon .fa-facebook
{
  color: var(--color-white);
  background-color: #2F487D;
  padding: 10px;
  border-radius: 50px;
  margin-right: 4px;
  font-size: 1.4rem;
  transition: all .3s ease;
}
.list-unstyled li .single_social_icon .fa-youtube{
  color: var(--color-white);
  background-color: #be2323;
  padding: 10px;
  border-radius: 50px;
  margin-right: 4px;
  font-size: 1.6rem;
  transition: all .3s ease;
}
.list-unstyled li .single_social_icon .fa-facebook:hover {
  color: var(--color-white);
  background-color: #2f487de1;
}
.list-unstyled li .single_social_icon .fa-youtube:hover {
  color: var(--color-white);
  background-color: #be2323e5;
}

/* ---------------------------Footer End */

