/* ---------------------Reset --------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;
  /*----------*----------*----------* Website Theme */
  --color-blue: #0077c0;
  --color-cyan: #17a2b8;
  --color-green: #28c54c;
  --color-black: #161616;
  --color-red: #ff0000d7;
  --color-light: #f8f9fa;
  --color-white: #ffffff;
  --color-text: #232323;
  --color-border: #eaecee;
  --color-box-shadow: 0px 20px 30px 0px rgba(24, 32, 40, 0.05);

}



body {
  background-color: var(--color-white);
  font-size: 1.6rem;
  font-family: 'SolaimanLipi', sans-serif;
  /* font-family: 'Noto Serif Bengali', serif; */
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.padd {
  padding: 60px 0;
}

.sec-link {
  display: inline;
  background-color: var(--color-blue);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  color: rgb(255, 255, 255);
  transition: all .3s ease;
}

.sec-head-title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-black);
  line-height: 1.4;
}

.sec-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 3.4rem;
}

.sec-sub-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-black);
}

.sec-para {
  font-size: 1.6rem;
  color: var(--color-text);
  line-height: 3rem;
}



/*============ navbar Section =============*/

.top-nav {
  padding: 1rem 0 0 0;

}

.top-nav p i {
  color: var(--color-blue);
}

.top-nav p {
  font-size: 1.6rem;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.top-nav p:first-child {
  margin-left: 0;
}

.top-nav p a {
  font-size: 1.6rem;
  color: var(--color-text);
}

.navbar {
  padding: 1rem 0 1rem 0;
}

.sticky-top {
  top: -1px !important;
}

.navbar-brand img {
  width: 220px;
  object-fit: cover;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem !important;
  padding: 10px 16px;
  color: var(--color-text);
  transition: all .2s ease;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--color-blue) !important;
}

/* btn */
.btn {
  padding: 1rem 2.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: white !important;
}

.btn-primary {
  background-color: var(--color-blue);
  border: none;
  transition: all .3s ease;
}

.btn-primary:hover {
  background-color: #01568a !important;
  box-shadow: 0 3px 5px 0 rgba(0, 119, 192, 0.3);
}

.btn-primary-free {
  background-color: #28c54c;
  border: none;
  transition: all .3s ease;
}

.btn-primary-free:hover {
  background-color: #1da33b !important;
  box-shadow: 0 3px 5px 0 rgba(29, 163, 58, 0.3);
}


.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: var(--color-blue);
  z-index: 100;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 1.6rem;
  padding: 1rem 2rem !important;
  color: var(--color-white) !important;
  background-color: var(--color-blue);
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.dropdown .dropdown-menu .dropdown-item:hover {}


.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

/*============ navbar Section =============*/


/*============ Hero Section =============*/
.hero {
  /* padding: 60px 0; */
  padding: 10px 0 30px 0;
  /* background-color: #F7F7FD; */
  background-image: linear-gradient(360deg, rgba(0, 118, 192, 0.15), #fff);
}

.hero__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__content--title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-black);
  line-height: 1.4;
}

.hero__content--para {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.hero__content--link {
  display: flex !important;
  flex-direction: row !important;
  gap: 2rem;
}

.hero__content--link__demo {
  background-color: #28c54c;
  border: none;
  transition: all .3s ease;
}

.hero__content--link__demo:hover {
  background-color: #1da33b !important;
  box-shadow: 0 3px 5px 0 rgba(29, 163, 58, 0.3);
  transform: translateY(-3px);
}

.hero__content--link__free {
  background-color: var(--color-blue);
  border: none;
  transition: all .3s ease;
}

.hero__content--link__free:hover {
  background-color: #01568a !important;
  box-shadow: 0 3px 5px 0 rgba(0, 119, 192, 0.3);
  transform: translateY(-3px) !important;
}

figure {
  margin: 0 0 0 !important;
}

.hero__video {
  position: relative;
}

.hero__video img {
  display: block;
  width: 100%;
  height: auto;
}

.hero__video__in {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.hero__video__in a {
  display: block;
}

.hero__video__in span {
  color: var(--color-blue);
  font-size: 2rem;
  font-weight: 700;
  display: none;
}

.hero__video__in--btn {
  background-color: var(--color-blue) !important;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 1.5rem;
  position: relative;
  line-height: 77px;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  cursor: pointer;
}

.hero__video__in--btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: beat infinite 1.2s;
  animation: beat infinite 1.2s;
  height: 100%;
  width: 100%;
  background-color: var(--color-blue);
  border-radius: 50%;
  z-index: -1;
}

.hero__video__in--btn i {
  font-size: 3.5rem;
}

/* @-webkit-keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes beat {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
} */

.banner__text-moto {
  width: 300px !important;
  margin: 0 auto;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*============ Hero Section =============*/


/*============ milestone Section =============*/
.milestone {}

.single__milestone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 180px;
  padding: 2rem 0.5rem;
  transition: all .2s ease-in-out;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 2px 2px 15px rgba(115, 115, 115, 0.5);
}

.single__milestone:hover {
  /* box-shadow: 2px 2px 15px rgba(115, 115, 115, 0.4); */
  transform: scale(1.05);
}

.single__milestone h5 {
  margin: 1.5rem 0 1rem 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  transition: all .2s ease;
}

.single__milestone:hover h5 {
  color: var(--color-blue);
}

.single__milestone h3 {
  font-size: 35px;
  font-weight: 700;
  color: var(--color-blue);
}

.single__milestone img {}

.single__milestone--img {
  width: 47px;
  height: 42px;
}

/*============ milestone Section =============*/


/*============ Client Section =============*/
.client {
  padding: 40px 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 7));
  }
}

.client__logo {
  animation: scroll 40s linear infinite;
  width: calc(250px * 14);
  padding: 20px 0;
}

.client__logo--slide {
  width: 160px;
  height: 100px;
  perspective: 100px;
}

.client__logo--slide img {
  width: 100px;
  height: 100px;
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 50%;
  transition: all .3s ease;
}

.client__logo--slide:hover img {
  transform: translateZ(10px);
}

/*============ Client Section =============*/


/*============ Services Section =============*/
.services {
  padding: 20px 0;
}

.service__content {
  max-width: 450px;
}

.service__content--pack {
  z-index: -99;
  font-size: 8rem;
  font-weight: bold;
  color: rgba(17, 18, 50, 0.05);
}

.link__free--trial {
  background-color: var(--color-blue);
  border: none;
  transition: all .3s ease;
}

.link__free--trial:hover {
  background-color: #01568a !important;
  box-shadow: 0 3px 5px 0 rgba(0, 119, 192, 0.3);
  transform: translateY(-3px) !important;
}

/*============ Services Section =============*/


/*============ Package Section =============*/
.package {
  padding-top: 80px;
}

.package__content {
  margin-bottom: 6rem;
}

.package__content--title {}

.package__content--para {}

.package .single__package {
  box-shadow: 2px 2px 15px rgba(115, 115, 115, 0.4);
  text-align: center;
  /* border: 1px solid var(--color-border); */
  border-image: initial;
  transition: all 0.6s ease 0s;
  box-sizing: border-box;
  position: relative;
  border-radius: .5rem;
  /* overflow: hidden; */
}

.single__package--content {
  background-color: #27ae61;
  color: var(--color-white);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  /* border-radius: .5rem; */
  padding: 20px 0;
}

.basic {
  background-color: #31aee8;
}

.standard {
  background-color: #2370cc;
}

.enterprise {
  background-color: #127793;
}

.enterprise__list {
  padding: 1.5rem 2rem 0.8rem !important;
  margin-bottom: 0;
}

.single__package p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.single__package h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.single__package h3 span {
  font-size: 16px;
  color: var(--color-light);
  font-weight: 500;
}

.package__list {
  padding: 1.5rem 2rem 1.5rem;
  text-align: left;
  /* border-bottom: 1px solid var(--color-border); */
}

.package__list li {
  /* font-size: 1.4rem; */
  color: var(--color-text);
  text-transform: capitalize;
  margin: 1rem 0;
}

.before-condition {
  margin-bottom: 0 !important;
}

.package__list--condition {
  font-size: 14px;
}

.package__list li i {
  margin-top: 3px;
}

.package__list li p {
  margin-bottom: 0 !important;
}

.package__list li .fa-circle-check {
  color: var(--color-blue);
  margin-right: 8px;
  font-size: 15px;
}

.package__list li .fa-circle-xmark {
  color: var(--color-red);
  margin-right: 8px;
  font-size: 15px;
}

.package__list a {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
  border-radius: 0 !important;
  margin: 0px !important;
}

.single__package .sub-btn {
  padding-top: 1rem !important;
}

.single__package .package__btn {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1rem;
  margin-bottom: 15px;
  display: inline-block;
  color: var(--color-text);
  transition: all 0.5s ease 0s;
  position: relative;
}

.single__package .package__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-blue);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.single__package .package__btn:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.package .single__package:hover {
  transform: scale(1.05);
  /* border: 1px solid transparent; */
  border-image: initial;
}

.package .single__package:hover .package__btn {
  color: var(--color-blue);
}



.ribbon-wrapper {
  width: 145px;
  height: 145px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  left: -10px;
}

.ribbon-wrapper::before,
.ribbon-wrapper::after {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--color-green);
  /* background:  #31aee8; */
  position: absolute;
  z-index: -1;
  overflow: hidden;

}

.ribbon-wrapper::before {
  top: 0;
  right: 25px;
}

.ribbon-wrapper::after {
  bottom: 25px;
  left: 0;
}

.ribbon {
  width: 225px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding: 8px 0;
  text-align: center;
  background-color: var(--color-green);
  /* background: linear-gradient(to right, blue, blue); */
  color: #fff;
  position: absolute;
  transform: rotate(-45deg);
  right: -7%;
  top: 20%;
}


/*============ Package Section =============*/


/*============ Testimonial Section =============*/
.testimonials {}

.shadow-effect {
  background: #fff;
  padding: 20px 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--color-light);
  box-shadow: var(--color-box-shadow);
}

#customers-testimonials .shadow-effect p {
  /* font-size: 15px; */
  line-height: 1.8;
  margin: 30px 0 40px 0;
  font-weight: 500;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: var(--color-blue);
  padding: 9px 35px;
  border-radius: .5rem;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  box-shadow: var(--color-box-shadow)
}

#customers-testimonials .item {
  text-align: center;
  padding: 10px 50px;
  margin-bottom: 40px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--color-blue);
  transform: translate3d(0px, -50%, 0px) scale(0.7);
  border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: var(--color-blue);
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
  border-radius: 50px;
}

/*============ Testimonial Section =============*/


/*============ Industry Blog Section =============*/
.single__industry {
  /* box-shadow: var(--color-box-shadow); */
  box-shadow: 2px 2px 15px rgba(115, 115, 115, 0.5);
  border-radius: .5rem;
  padding: 2rem;
  transition: all .3s ease;
}

.single__industry:hover {
  transform: scale(1.05);
}

.single__industry--img {
  height: 200px;
  margin-bottom: 3rem;
  /* padding: 10px; */
}


.single__industry img {
  object-fit: cover;
  width: 100%;

}

/* .single__industry:hover img {
  transform: scale(1.05);
} */

.industry__content {
  /* padding: 0 2rem 2rem 2rem; */
}

.industry__content--title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-black);
  margin: 1.2rem 0 1.2rem 0;
}

.industry__content--para {
  margin: 0;
}

.single__industry .package__list {
  padding: 20px 10px 20px 0;
}

.industry__content--link {
  margin-top: 1.8rem;
}

.industry__content--btn {
  padding: 20px 0;
}

/*============ Industry Blog Section =============*/


/*============ Review Section =============*/
.single__review {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all .3s ease;
}

.single__review img {
  border-radius: 8px;
}

.single__review:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: scale(1.02);
}


.single__review--in--btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1000;
  color: var(--color-blue) !important;
}

.single__review--in--btn {
  display: block;
  background-color: white;
  border-radius: 50%;

}

.single__review--btn i {
  font-size: 40px;
  color: white;

}

.modal-content {
  background: transparent !important;
  border: none !important;
}

.review__video--btn {
  font-size: 1.4rem;
  line-height: 64px;
  height: 5rem;
  width: 5rem;
}

.review__video--btn i {
  font-size: 3rem;
}


/*============ Review Section =============*/


/*============ Login Section =============*/
.login {}

.form-control {
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}

.form-select .form-control:focus {
  border: 1px solid var(--color-blue);
}

.form-select:focus {
  border: 1px solid var(--color-blue);
}

.form-select {
  padding: 1.2rem 2.25rem 1.2rem .75rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}

/*============ Login Section =============*/


/*============ Footer Section =============*/
.footer_part {
  /* background-color: #F4F2FF; */
  background-color: #F7F7FD;
  padding: 60px 0px 25px;
}

.footer_logo_iner img {
  width: 175px;
  height: 35px;
  margin-bottom: 3.5rem;
}

.single_footer_part p {
  color: var(--color-text);
  line-height: 2.8rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer_part .single_footer_part h4 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li i {
  color: var(--color-blue);
  margin-right: 7px;
  font-size: 1.4rem;
}

.footer_part .single_footer_part .list-unstyled li a {
  color: var(--color-text);
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: var(--color-text);
  transition: all .3s ease;
}

.footer_part .single_footer_part .list-unstyled li a:hover {
  color: var(--color-blue);
}

.copyright {
  padding: 20px 0;
  background-color: #283353;
}

.copyright_text p {
  font-size: 1.4rem;
  margin: 0;
  color: var(--color-light);
}

.footer_icon {
  text-align: right;
}

.footer_icon li {
  display: inline-block;
}

.footer_icon li a {
  font-size: 14px;
  color: var(--color-text) !important;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer_icon .list-unstyled {
  margin: 0;
}

.list-unstyled li .single_social_icon .fa-facebook {
  color: var(--color-white);
  background-color: #2F487D;
  padding: 10px;
  border-radius: 50px;
  margin-right: 4px;
  font-size: 1.4rem;
  transition: all .3s ease;
}

.list-unstyled li .single_social_icon .fa-youtube {
  color: var(--color-white);
  background-color: #be2323;
  padding: 10px;
  border-radius: 50px;
  margin-right: 4px;
  font-size: 1.4rem;
  transition: all .3s ease;
}

.list-unstyled li .single_social_icon .fa-facebook:hover {
  color: var(--color-white);
  background-color: #2f487de1;
}

.list-unstyled li .single_social_icon .fa-youtube:hover {
  color: var(--color-white);
  background-color: #be2323e5;
}

/*============ Footer Section =============*/

/* =============Scroll Bar and Demo Request===== */

.to-top {
  background: var(--color-blue);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  position: fixed;
  bottom: 100px;
  right: 38px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--color-white);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
  z-index: 10002;
  background: rgb(0, 119, 192);
  background: linear-gradient(174deg, rgba(0, 119, 192, 1) 53%, rgba(40, 197, 64, 1) 100%);
}

.to-top i {
  font-size: 20px;
}

.to-top:hover {
  background-color: #01568a;
}

.to-top.active {
  bottom: 165px;
  right: 38px;
  pointer-events: auto;
  opacity: 1;
}



.demo {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 100003;
}

.demo a {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  border: none;
  transition: box-shadow 150ms ease-in-out 0s;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /* background-image: linear-gradient(-225deg,
      rgb(117, 93, 213) 35%,
      rgb(55, 136, 209) 100%); */
  background: rgb(0, 119, 192);
  background: linear-gradient(174deg, rgba(0, 119, 192, 1) 53%, rgba(40, 197, 64, 1) 100%);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  transition: all 0.5s ease;
}

/* Faq Page Style Start */


.faq__content {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.faq__single--content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.faq__content--title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .faq__content {
    margin-bottom: 4rem;
  }

  .faq__single--content {
    max-width: 500px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .faq__content {
    margin-bottom: 4rem;
  }

  .faq__single--content {
    margin-bottom: 2rem;
    text-align: center;
  }

  .faq__content--title {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}

/* Faq Page Style End */

/* Industry Ecommerec Page Style Start */
.common__hero {
  /* min-height: 70vh; */
  background-color: #F7F7FD;
}

.container_custom {
  max-width: 1240px;
  margin: 0 auto;
}

.common__hero--content__title-wrap {
  max-width: 500px;
}

.common__hero--content__title {
  margin-bottom: 2rem;
}



.common__hero--content__para {
  font-size: 2rem;
  color: #2D3350;
}


/* .common__hero--img {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  overflow: hidden;
}

.common__hero--img img {
  aspect-ratio: 16/9;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .3s ease;
  transform-origin: center;
  will-change: transform;
}

.common__hero--img:hover img {
  transform: scale(1.01);
} */

.service__lists {
  display: flex;
  padding-left: 0 !important;
  gap: 2rem;
}

.service__list li {
  display: flex;
  gap: 1rem;
}

.service__list li i {
  margin-top: 6px;
  color: #021AD8;
}

.service__lists div {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.service__card {
  background-color: #F7F7FD;
  box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
}

.service__img {
  width: 410px;
  height: 305px;
}

/* .service__img img {
  width: 100%;
  object-fit: cover;
} */

.benefit {
  background-color: #F7F7FD;
}



/* Industry Ecommerec Page Style End */

/* About Page Style Start */
.about {
  background-color: var(--color-light);
}

.single__about--content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  max-width: 500px;
}

.single__about--content img {
  width: 65px;
  height: 65px;
}

.body__content--para {
  text-align: justify;
  margin: 0;
}

.report img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 992px) {
  .single__about--content {
    flex-direction: column;
    gap: 2rem;

    max-width: 310px;
  }
}

@media screen and (max-width: 768px) {
  .single__about--content {
    max-width: none;
  }
}

@media screen and (max-width: 576px) {

  .about__content--title {
    font-size: 2rem !important;
    line-height: 3rem !important;
    font-weight: 700 !important;
  }
}

/* About Page Style End */

/* Contact US style Start */
.contact {}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-address {}

.contact-address h5,
.contact-phone h5,
.contact-hours h5 {
  font-size: 2rem;
  font-weight: 600;
}

.contact-phone h6 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 10px;
}

.contact-phone li a {
  color: var(--color-text);
}

iframe {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .contact-phone h6 {
    font-weight: 400;
    margin-top: 10px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }
}

/* Contact US style End */